.title{
  margin-left: .3rem;
}

.container{
  margin: 2rem auto;
}

/* Product List */

.card{
  margin-bottom: 1rem;
}

.product-name{
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.price{
  font-size: 10px;
  line-height: 12px;
  color: #666666;
}

.description{
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}

.card-img-top {
    height: 20vw;
    object-fit: contain;
}

.prod-img-dsc-pg> img{
  width:100%;
}

/* DETAILS PAGE */

.product-name-dp{
  font-size: 24px;
  line-height: 28px;
}

.product-price-dp{
  margin-top: 1rem;
  font-size: 18px;
  line-height: 21px;
}

.long-description, .short-desc-dp{
  margin-top: 2rem;
}
