body{
  font-family: Rubik!important;
}


.title{
  margin-left: .3rem;
}

.container{
  margin: 2rem auto;
}

.navbar{
  position: absolute;
  z-index: 2;
  width: 100%;
  padding: 2rem 3rem;
}

.navbar2{
  height: 10vh;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 3rem;
  pointer-events: none;
}

.navbar2 > i, .navbar2 > div {
  pointer-events: all;
}

/* Homepage */

.homepage-contaier{
  height: 100vh;
  width: 100vh;

}

.hp-btn{
  display: inline-block;
  font-weight: 400;
  color: white;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 3px solid white;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

.nav-buttons{
  margin: 3rem;
  position: absolute!important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  color: white;
  pointer-events: none;
}

.nav-buttons > i {
  pointer-events: all;
}

.image-coursel-container{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.image-carousel{
  position: absolute!important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 300%;
  height: 100%;
  text-align: center;
  color: white;
  transition: 0.8s ease-in-out;
  -webkit-transition: 0.8 ease-in-out;
}

.move-to-next{
  transform: translateX(calc(-100%/3));
  -webkit-transform: translateX(calc(-100%/3));
}

.move-to-third{
   transform: translateX(calc((-100%/3*2)));
  -webkit-transform: translateX(calc((-100%/3*2)));
}

.images{
  width: calc(100%/3);
  height: 100%;
  background-size: cover;
}

.image-1{
  background-image: url('images/front-page-1.jpg');
}

.image-2{
  background-image: url('images/front-page-2.jpg');
}

.image-3{
  background-image: url('images/front-page-3.jpg');

}






/* Product List */

.card{
  margin-bottom: 3rem;
  border: none;
}

.product-name{
  font-size: 18px;
  line-height: 14px;
  color: #000000;
}

.price{
  font-size: 12px;
  line-height: 12px;
  color: #666666;
}

.description{
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}

.card-img-top {
    height: 10vw;
    object-fit: contain;
}

.prod-img-dsc-pg> img{
  width:80%;
}

/* DETAILS PAGE */

.product-container{
  margin: none;
  height: 90vh;
}

.left-side{
  padding: 0;

}

.add-to-bag{
  width: 100%;
  height: 10rem;
  background-color: #000000;

}

.add-to-bag > h4{
  color: white;
  font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 43px;
}

.desc-head{
  padding-left: 7rem;
  color: #A2A2A2;
}

.product-text{
  margin-bottom: 5rem;
  padding: 0 7rem;
}

.product-name-dp{
font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 43px;
color: #000000;
margin-bottom: 2rem;
}

.product-price-dp{
font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 38px;
color: #000000;
}

.long-description, .short-desc-dp{

font-family: Rubik;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 25px;
color: #A2A2A2;
margin-bottom: 2rem;
}

/* CART SUMMARY */

.summary-price{
  margin: 1rem 0;
}

.cart-title{
  margin: 1.5rem 0
}

.checkout{
  width: 70%;
}

label{
  display: block;
}

input, textarea{
  width: 100%;
}



/* Mobile */


 /* iPhone 6/7/8 */

 @media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {

.image-1{
  background-image: url('images/front-page-1-iphone678.jpg');
}

.image-2{
  background-image: url('images/front-page-2-iphone678.jpg');
}

.image-3{
  background-image: url('images/front-page-3-iphone678.jpg');

}

.navbar{
  padding: 2rem;
}

.nav-buttons{
  margin: 1rem;
}

.product-container{
  display: flex;
  height: 50%;
  flex-direction: column-reverse;
  justify-content: end;
  margin-top: 130px;
}

.left-side{
  margin-top: 50px;

}

.add-to-bag{
  height: 7rem;
}

.product-text {
  margin-bottom: 1rem;
  padding: 0 2rem;
}

.product-name-dp{
  margin-bottom: .5rem;
}

.short-desc-dp{
  margin-bottom: .5rem;
}


 }

/* iPhone X */

@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {

.image-1{
  background-image: url('images/front-page-1-iphoneX.jpg');
}

.image-2{
  background-image: url('images/front-page-2-iphoneX.jpg');
}

.image-3{
  background-image: url('images/front-page-3-iphoneX.jpg');

}

.navbar{
  padding: 2rem;
}

.nav-buttons{
  margin: 1rem;
}

.product-container{
  margin-top: 210px;

}

.left-side{
  margin-top: 100px;
}

 }


/* iPad */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

.image-1{
  background-image: url('images/front-page-1-iPad.jpg');
}

.image-2{
  background-image: url('images/front-page-2-iPad.jpg');
}

.image-3{
  background-image: url('images/front-page-3-iPad.jpg');

}

.product-container{
  display: flex;
  height: 50%;
  flex-direction: column-reverse;
  justify-content: end;
  margin-top: 230px;
}

.left-side{
  margin-top: 100px;

}

.add-to-bag{
  height: 10rem;
}

.product-text {
  margin: 1rem auto;
  text-align: center;
  padding: 0 2rem;
}

.product-name-dp{
  margin-bottom: .5rem;
}

.short-desc-dp{
  margin-bottom: .5rem;
}


 }

 @media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

  .image-1{
  background-image: url('images/front-page-1-iPad-landscape.jpg');
}

.image-2{
  background-image: url('images/front-page-2-iPad-landscape.jpg');
}

.image-3{
  background-image: url('images/front-page-3-iPad-landscape.jpg');

}

.navbar{
  padding: 1.5rem;
}

.nav-buttons{
  margin: 1.5rem;
}



}
